<div class="container-fluid">
      <header class="text-center">
        <h1>About</h1>
      </header>
      <div class="row" style="margin-top: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
              <%= image_tag "test", width: "350", height: "350", alt: "Main pic" %>
            </div>
            <div class="col-md-4" style="text-align: justify">
              <p>
In the heart of every child is a hunger for home. Not just for food and a place to sleep, but for safety and community. Most importantly: for love. We are much more than a home for unwanted Indian orphans. We are a family, where God’s love guides us all as we grow and expand year after year. Not just an Indian orphanage, we are a nearly self-sustaining organization; a working farm, a vibrant school, receiving no government assistance of any kind.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
