<div class="container-fluid">
      <header class="text-center">
        <h1>Contact</h1>
      </header>
      <div class="row" style="margin-top: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
              <%= image_tag "test", width: "350", height: "350", alt: "Main pic" %>
            </div>
            <div class="col-md-4" style="text-align: justify">
              <p>

Contact Details :
Call Centre 	(0) 99 10 38 38 38 or +91 124 6613838
For Investor Relations 	Contact number: +91 - 124 - 4852158
Fax Number: +91 - 124 – 4268664
Normal business hours (0900 hrs - 1730 hrs)
Group Desk 	groups@childhomes.in
Mobile Site (For GPRS-capable devices) 	https://www.childmonitoring.in
<br>
Marketing Enquiries 	marketing@Childmonitoring.in
Media Enquiries

Akash Dutta
Genesis Burson-Marsteller
Email: akashdutta@gmail.com  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
