<div class="container-fluid">
      <header class="text-center">
        <h1>Welcome to Child home</h1>
      </header>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <form class="form-inline" action='/search', method="get">
            <div class="col-md-10">
              <input type="text" class="form-control" name="q" style="width:100%;">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
              <%= image_tag "test", width: "350", height: "350", alt: "Main pic" %>
            </div>
            <div class="col-md-4" style="text-align: justify">
              <p>
                Approximately, 600,000 to 800,000 victims are victims of trafficking across the world”-Source Child victim and human trafficking, Dept of health and Human service USA
                <br>
                Child trafficking from orphanage is a major issue in our country.We want to solve the problem by our service.It will be good for our society and We can make our counrty a child trafficking free nation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
